<div class="main container" ng-controller="heros_search">
	<section class="billboard">
		<div class="header blue">搜索感兴趣的人</div>
		<br>
		<article>
			<form class="form-inline">
			  <div class="form-group text-center">
			    <label class="sr-only" for="exampleInputAmount">输入github用户名或者组织名</label>
			    <div class="input-group">
			      <div class="input-group-addon"><i class="fa fa-github"></i></div>
			      <input type="text" class="form-control" id="exampleInputAmount" placeholder={{search_content}} style="margin-left: 0.2em;">
			    </div>
			  </div>
			  <button type="submit" class="btn btn-primary" ng-click="github_search();" style="margin-left: 0.4em;"><span>搜索</span></button>
			</form>
		</article>
		<hr>

		<article class="use-modal" id="user_details_info" style={{search_style}}>

			<h2>
				<span class="recommend float-right">
					<i class="fa fa-thumbs-up"></i>
					<span class="score">{{githuber.followers}}</span>
				</span>
				<img src={{githuber.icon}} class="avatar inline">
				<a href={{githuber.url}} target="_blank" class="name modal-cover">{{githuber.id}}({{githuber.name}})</a>
			</h2>
			<p class="invitation">
				<h4>公司:{{githuber.company}}</h4>
			</p>
			<p class="invitation">
				<h4>城市:{{githuber.location}}</h4>
			</p>
			<p class="invitation">
				<h4>加入时间:{{githuber.github_in_time}}</h4>
			<p class="invitation">
				<h4>关注仓库数:{{githuber.starred}}</h4>
			</p>
			<p class="invitation">
				<h4>关注人数:{{githuber.following}}</h4>
			</p>
			<div class="tags" >
				<div class="tag" ng-repeat="tag in githuber.tags">{{tag}}</div>
			</div>
		</article>
	</section>
</div>
